* { box-sizing: border-box; margin: 0; padding: 0; }
a { text-decoration: none; color: #ff3502 }
input, button, textarea { font-family: inherit; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
em { font-style: normal !important; }
html, body {
  height: 100%;
  font-family: Optima-Regular, BlinkMacSystemFont, 'PingFang SC', Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.top .logo {
  margin-right: 20px;
  font-weight: bold;
  font-size: 18px;
  flex: 1;
}
#editor {
  height: 100%;
  display: block;
  border: none;
  width: 100%;
  /* padding: 10px; */
}
section {
  height: 100%;
}
.main-body {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-bottom: 10px;
}
.ctrl {
  flex-basis: 60px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  /* float: right; */
}
.preview-wrapper {
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  /* height: 100%; */
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .preview-wrapper::-webkit-scrollbar {
    display: none;
} */

.main-section {
  display: flex;
  height: 100%;
}
.hint {
  opacity: 0.6;
  margin: 20px 0;
}
.preview {
  margin: 16px -20px;
  width: 375px;
  padding: 20px;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
/* .preview ul, .preview ol {
  padding-left: 40px !important;
} */
.CodeMirror {
  height: 100%;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  font-size: 16px;
  padding: 20px;
  width: 100%;
  font-family: 'PingFang SC', BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

/* ele ui */
.el-form-item {
  margin-bottom: 0px !important;
}
/*wechat code block*/
.rich_media_content .code-snippet *, .rich_media_content .code-snippet__fix * {
  max-width: 100% !important;
}
.code-snippet__fix {
  word-wrap: break-word !important;
  font-size: 12px;
  margin: 10px 10px;
  display: block;
  color: #333;
  position: relative;
  background-color: rgba(0,0,0,0.03);
  border-radius: 8px;
  display: flex;
  line-height: 26px;
}
.code-snippet__fix .code-snippet__line-index {
  counter-reset: line;
  flex-shrink: 0;
  height: 100%;
  /* padding: 1em; */
  list-style-type: none;
}
.code-snippet__fix .code-snippet__line-index li {
  list-style-type: none;
  text-align: right;
}
/* .code-snippet__fix .code-snippet__line-index li::before {
  min-width: 1.5em;
  text-align: right;
  counter-increment: line;
  content: counter(line);
  display: inline;
  color: rgba(0,0,0,0.15);
} */
.code-snippet__fix pre {
  list-style: none;
  overflow-x: auto;
  /* padding: 1em; */
  /* padding-left: 10px; */
  white-space: normal;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}
.code-snippet__fix code {
  text-align: left;
  font-size: 14px;
  display: block;
  white-space: pre;
  display: flex;
  position: relative;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.el-form-item__label {
    font-weight: bold;
}

.el-input  {
    width: 124px;
}

.el-dialog__title {
    font-weight: bold;
}

.about p {
    line-height: 27px;
}

.about a {
    color: #409eff;
    font-weight: bold;
}

.about h3 {
    font-weight: bold;
    margin: 0 auto;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }

  *:hover::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53%, 0.4);
  }

  *:hover::-webkit-scrollbar-track {
    background: hsla(0, 0%, 53%, 0.1);
  }
